* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #032d60;
    position: relative;
  }
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 24px;
    cursor: pointer;
  }
  h4 {
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    line-height: 25px;
  }
  p {
    font-size: 18px;
    color: #181818;
    font-weight: 300;
    line-height: 25px;
  }
  a {
    color: #032d60;
  }
  ul {
    list-style: none;
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 99;
  }
  .navigation .nav_left a {
    text-decoration: none;
    color: #032d60;
  }
  .nav_right li img {
    width: 20px;
  }
  .nav_logo a img {
    width: 60px;
  }
  .nav_left,
  .nav_right {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
  }
  .nav_left li a:hover {
    color: #0176d3;
  }
  .nav_right_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav_right_link a {
    color: #032d60;
    text-decoration: none;
  }
  .nav_right_contact a {
    color: #032d60;
    text-decoration: underline;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .nav_right_try a {
    padding: 10px 30px;
    background-color: #2e844a;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  .second_nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: #06a59a;
    color: white;
    padding: 10px 0;
    margin-top: 76px;
  }
  .second_nav img {
    width: 120px;
  }
  .second_nav a {
    color: white;
  }
  
  .container {
    padding: 0 80px;
  }
  .title_container {
    text-align: center;
    height: fit-content;
    margin: 80px 0;
  }
  .title_container a {
    display: inline-block;
    margin-top: 20px;
  }
  .title {
    max-width: 62%;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #032d60;
    font-size: 40px;
  }
  .text {
    font-size: 20px;
    line-height: 30px;
    max-width: 65%;
    margin: 20px auto;
    font-weight: 300;
  }
  .flex_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }
  .flex_image {
    width: 50%;
  }
  .flex_container img {
    width: 100%;
  }
  .flex_container h2 {
    max-width: 70%;
  }
  .flex_container p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
    max-width: 85%;
  }
  
  .header {
    background-image: url(./images/bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top -150px;
    position: relative;
    gap: 40px;
    padding: 80px 80px;
    padding-right: 0;
  }
  .header_left {
    width: 50%;
  }
  .header_left h1 {
    margin-bottom: 20px;
    max-width: 80%;
  }
  .header_left p {
    margin-bottom: 10px;
    max-width: 80%;
  }
  .header_right img {
    width: 55%;
    position: absolute;
    right: 0;
    top: 10px;
  }
  .header_img img {
    position: absolute;
    top: -105px;
    right: 0;
    z-index: -1;
    width: 100%;
  }
  .btn-container {
    display: flex;
    gap: 20px;
    margin-top: 40px;
  }
  .btn {
    padding: 15px 40px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
  }
  .btn-primary {
    background-color: #0176d3;
  }
  .btn-primary:hover {
    background-color: #042d60;
  }
  .btn-secondary {
    border: 2px solid #0176d3;
    color: #0176d3;
  }
  .btn-secondary:hover {
    background-color: #eaf5fe;
    color: #032d60;
    border: 2px solid #032d60;
  }
  
  .power .card_bottom_text,
  .power .card_bottom_link {
    margin: 0;
  }
  .power .card_bottom_text {
    margin-top: 20px;
  }
  
  .industry_container {
    display: flex;
    gap: 5px;
    max-width: 60%;
    justify-content: center;
    margin: 100px auto;
  }
  .industry {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .industry_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  .industry_icon img {
    width: 60%;
  }
  .industry a {
    color: #032d60;
    text-decoration: none;
  }
  .industry a:hover {
    color: #0176d3;
  }
  
  .companies {
    background-image: url(./images/innovation-bg.webp);
    background-position: top 0px center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 10%;
  }
  .companies_container {
    display: flex;
    max-width: 80%;
    gap: 20px;
    justify-content: center;
    margin: 100px auto;
  }
  .company {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #e9e9e9;
  }
  .company img {
    width: 80%;
  }
  
  .skills .btn {
    margin-top: 40px;
  }
  .skills .card img {
    width: 30%;
  }
  
  .crm_container {
    position: relative;
  }
  .crm_banner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  .crm {
    background-image: linear-gradient(
      180deg,
      #ffffff 0%,
      rgb(207, 233, 254) 100%
    );
    padding-bottom: 10%;
    padding-top: 0;
  }
  
  .meet .card_link {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .meet .card_bottom_text {
    margin: 20px 20px 0 20px;
  }
  .meet .card_bottom_link {
    margin: 0px 20px 20px 20px;
  }
  
  .discover {
    background-image: url(./images/discover-bg.webp);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 15%;
    margin-top: 60px;
  }
  .discover .flex_container img {
    width: 80%;
  }
  .discover_content {
    width: 50%;
  }
  
  .pill {
    background-color: #d8edff;
    color: #032d60;
    padding: 10px;
    border-radius: 30px;
    width: fit-content;
    margin-bottom: 10px;
    font-size: 12px;
  }
  
  .footer1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 60px;
  }
  .footer1 img {
    width: 30%;
  }
  .footer1 .icons {
    display: flex;
    gap: 20px;
    margin-top: 40px;
  }
  .footer1 .icons img {
    width: 30px;
  }
  .footer1 a {
    font-size: 14px;
  }
  .footer1 li {
    color: #0176d3;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .footer1 p {
    margin-top: 20px;
  }
  .footer1 li:first-child {
    color: #032d60;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
  }
  footer {
    background-color: #042e61;
    padding: 40px 100px;
    display: flex;
    gap: 30px;
    margin-top: 60px;
  }
  footer p,
  footer a {
    color: #fff;
    font-size: 14px;
  }
  .footer_links {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  footer a:hover {
    color: #0176d3;
  }
  .chat {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 30;
    background-color: #0176d3;
    color: #fff;
    padding: 5px 20px 5px 5px;
    border-radius: 50px;
    display: flex;
  }
  .chat img {
    width: 35%;
    margin-right: 20px;
  }
  .chat span {
    font-size: 14px;
  }
  
  /* GRID */
  .grid_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    margin: 60px 0;
    z-index: 10;
  }
  .grid_4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-top: 60px;
  }
  .power .card {
    box-shadow: none;
  }
  .card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #fff;
    z-index: 10;
    height: 100%;
  }
  .card img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .card_top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0 20px;
  }
  .card_icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #eaf5fe;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 0 40px;
  }
  .card_icon img {
    width: 50%;
  }
  .card_bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  .card_bottom_text {
    margin: 40px 40px 20px 40px;
  }
  .card_bottom_link {
    margin: 0 40px 40px 40px;
  }
  .card_bottom h3:hover {
    color: #0176d3;
  }
  .card_bottom p {
    line-height: 25px;
    font-size: 16px;
    margin-top: 10px;
  }
  .card_link {
    display: block;
    margin-top: 20px;
  }
  .card_link:hover {
    color: #0176d3;
    text-decoration: none;
  }
  